{% extends "layout.html" %}

{% block title %}
Tweet Section
{% endblock %}

{% block content %}
<h1 class = "text-center text-white mt-4 ">TweetIt And SpeakIt</h1>

<a class = "btn btn-success mb-4 d-grid gap-2 col-6 mx-auto my-4 font-weight-800" href=" {% url "tweet_create" %}">Create A New Tweet </a>

<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}.</p>
          {% if tweet.user == user  %}
          <a href="{% url "tweet_edit" tweet.id%}" class="btn btn-primary d-grid gap-2 mb-4">Edit</a>
          <a href="{% url "tweet_delete" tweet.id %}" class="btn btn-danger d-grid gap-2 ">Delete</a>
          {% endif %}
        </div>
      </div>
    
    {% endfor %}
</div>
{% endblock %}